<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>MiniMart - Login</title>
        <link rel="stylesheet" href="../Design/Style.css">
    </head>
    <body>
        <div class="saleBar">New Year sale | 44% Off</div>

        <div class="header">
            <div class="logo">Arabi</div>
            <div class="nav">
                <a href="BuyerDashboard.html">Home</a>
                <a href="BuyerDashboard.html">Shop</a>
                <a href="MyOrders.html">My Orders</a>
                <a href="EditProfile.html">Profile</a>
                <a href="Cart.html">Cart</a>
            </div>
        </div>

        <div class="smallContainer">
            <div class="tabs">
                <a class="active" href="Login.html">LOGIN</a>
                <a href="Register.html">REGISTER</a>
            </div>

            <form>
                <table>
                    <tr>
                        <td><input type="text" id="username" name="username" placeholder="Username or email address"></td>
                    </tr>
                    <tr>
                        <td><input type="password" id="password" name="password" placeholder="Password"></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember me</label>
                            <span style="float:right;"><a class="formLink" href="ForgotPassword.html">Lost password?</a></span>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="fullButton" type="submit" value="LOG IN"></td>
                    </tr>
                </table>
            </form>

            <p class="centerText smallText">No account yet? <a class="formLink" href="Register.html">Create Account</a></p>
        </div>

        <div class="footer">© Arabi 2026 | All rights reserved</div>
    </body>
</html>
