<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Delivery</title>
</head>
<body>
    <header class="header"> <div class="logo">
            Arabi
    </div>

    <div class="delivery-person">

    <div class="profile-icon">
                K
    </div>

    <div class="person-info">

    <h3>Karim Hossain</h3>

    <p>DEL-003</p>

    </div>

    </div>

    </header>

</body>
</html>