<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Arabi - Login</title>

    <link rel="stylesheet" href="login.css">

</head>


<body>

    <div class="top-bar">
        New Year sale | 44% Off
    </div>

    <header class="navbar">


        <div class="logo">
            Arabi
        </div>

        <nav class="nav-links">

            <a href="#">Home⌄</a>

            <a href="#">Shop</a>

            <a href="#">Portfolio</a>

            <a href="#">Blog</a>

            <a href="#">Contact</a>

        </nav>

        <div class="nav-icons">

            <span>⌕</span>

            <span>◯</span>

            <span>♡</span>

            <span>▥</span>

            <span>🛒</span>

        </div>


    </header>
</body>

</html>