<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Arabi - Login</title>

    <link rel="stylesheet" href="login.css">

</head>


<body>

    <div class="top-bar">
        New Year sale | 44% Off
    </div>

    <header class="navbar">


        <div class="logo">
            Arabi
        </div>

        <nav class="nav-links">

            <a href="#">Home⌄</a>

            <a href="#">Shop</a>

            <a href="#">Portfolio</a>

            <a href="#">Blog</a>

            <a href="#">Contact</a>

        </nav>

        <div class="nav-icons">

            <span>⌕</span>

            <span>◯</span>

            <span>♡</span>

            <span>▥</span>

            <span>🛒</span>

        </div>


    </header>

     <main class="login-container">

        <div class="login-tabs">

            <a href="#" class="active">
                LOGIN
            </a>

            <a href="#">
                REGISTER
            </a>

        </div>
        <form class="login-form">

            <div class="input-group">

                <input
                    type="text"
                    placeholder="Username or email address *"
                >

            </div>

            <div class="password-group">

                <label>
                    Password *
                </label>

                <input
                    type="password"
                    value="********"
                >

            </div>

            <div class="login-options">


                <label class="remember">

                    <input
                        type="checkbox"
                    >

                    <span>
                        Remember me
                    </span>

                </label>


                <a href="#">
                    Lost password?
                </a>


            </div>

            <button
                type="submit"
                class="login-button"
            >
                LOG IN
            </button>


            <p class="create-account">

                No account yet?

                <a href="#">
                    Create Account
                </a>

            </p>


        </form>


    </main>

</body>

</html>