.buyer-orders-page {
    width: 75%;
    margin: 0 auto;
    padding: 55px 0 80px;
}

.buyer-orders-title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 22px;
    margin-bottom: 30px;
}

.buyer-orders-title p {
    font-size: 11px;
    color: gray;
    margin-bottom: 8px;
}

.buyer-orders-title h1 {
    font-size: 28px;
}

.buyer-order-box {
    border: 1px solid lightgray;
    padding: 22px;
    margin-bottom: 15px;
    overflow: hidden;
}

.order-location {
    float: left;
    width: 70%;
}

.order-status {
    float: right;
    width: 25%;
    text-align: right;
}

.order-label {
    color: gray;
    font-size: 10px;
    margin-bottom: 7px;
}

.buyer-order-box h3 {
    font-size: 14px;
}
